// Variables
@import "variables";

.awarded{
  margin-bottom: 10px;
}
.color-bg{
  background-color: rgba(240,227,206,0.7);
}
body{
  background-color: #EDE6D9;
  background-image: url('images/texture.png');
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: top left;

  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !important;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
.icon{
  width: 100px;
  float: left;
}
.icon > img{
  width: 90%;
  margin: auto;
}
.signo{
  text-align: right;
  font-weight: 800;
}
.title{
  float: left;
  width: calc(100% - 100px);
}
.title > h3{
  margin-top: 0;
}
.image{
  text-align: center;
}
.navbar{
  background-color: #965a28;
}

.navbar-nav{
  li:not(:first-of-type) {
    border-left: 1px solid #f0e3ce;
  }
  li{
    a{
      font-weight: 800;
      color: white !important;
      &:hover{
        background-color: #73411c !important;
      }
    }
  }
}

.dropdown-menu{
  li{
    a{
      font-weight: 800;
      color: black !important;
      &:hover{
        color: #73411c !important;
      }
    }
  }
}

.navbar-brand{
  color: #f0e3ce !important;
  float: left;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.sponsor{
  width: 100%;
  padding: 15px 10px;
}

a{
  color: #69544a;
  text-decoration: none;
}

footer{
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.created{
  text-align:right;
}

.navbar{
  margin: 0;
}

h1 {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !important;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 23px;
  padding-top: 10px;
}
h2 {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !important;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 23px;
  padding-top: 10px;
}
h3 {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !important;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  padding-top: 10px;
}
p {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !important;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
a {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !important;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
blockquote {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !important;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
pre {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !important;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
em {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !important;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}


.table-of-content {
  dl {
    clear: both;
    width: 100%;
    overflow: hidden;
  }
  dt, dd {
    background: #fff
  }
  dt {
    float: left;
    padding-right: 3px
  }
  dd {
    margin: 0;
    float: right;
    padding-left: 3px
  }
  ol {
    margin: 0;
    padding: 0;
    list-style: none
  }
  li ol {
    width: 95%;
    padding-left: 5%
  }
}
.change_section{
  font-size: 10pt;
  color: #73411c !important;
  text-decoration: none;
  padding: 0 5px;
}
.bev{
  list-style-type:none;
  margin-bottom: 0 !important;
}
.bev li:before {
  content: 'Bevezető ';
}
.bev li{
  margin-left: -1em;
}
.plakat{
  max-width: 100%;
}